body{
    background-color: rgb(90, 6, 3);
}
h1{
    color: azure;
    text-align: center;
}
h2{
    color: azure;
    text-align: center;
}
h3{
    color: azure;
    font-size: 90px;
    text-align: center;

}

p{
    color: azure;
    text-align: center;
}